[Unit]
Description=webfetch
After=network.target

[Service]
Type=simple
ExecStart=/opt/webfetch/webfetch
WorkingDirectory=/opt/webfetch
User=ensomnatt
Restart=on-failure

[Install]
WantedBy=multi-user.target
