@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #f28228;
  --main: #141414;
  --text: #a5a5a5;
}

body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  width: 65%;
  height: 65%;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.main-container__image__item {
  height: auto;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}

.main-container__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.main-container__text__item {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
